.tipo-ruta {
  padding: 4px;
  border-radius: 8px;
  color: #fff;
  display: inline-block;
  font-size: 0.9em;
}

.tag-mant { background-color: #007bff; }
.tag-corr { background-color: #dc3545; }
.tag-visit { background-color: #28a745; }
.tag-other { background-color: #6c757d; }
