<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ isEdit ? 'Editar Usuario' : 'Nuevo Usuario' }}</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <div class="breadcrumb">
  <ion-icon name="home-outline" color="gray"></ion-icon>
  <span>/</span>
  <span>Usuarios</span>
  <span>/</span>
  <span class="breadcrumb-current">{{ isEdit ? 'Editar' : 'Crear' }}</span>
</div> -->

<ion-content class="ion-padding">

  <form [formGroup]="usuarioForm" (ngSubmit)="guardar()">
    <ion-list>

      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input formControlName="name" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Teléfono</ion-label>
        <ion-input formControlName="phone" type="tel"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Rol</ion-label>
        <ion-select formControlName="role">
          <ion-select-option value="worker">worker</ion-select-option>
          <ion-select-option value="admin">admin</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Junior</ion-label>
        <ion-toggle formControlName="junior"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>

    </ion-list>

    <ion-button expand="block" class="ion-margin-top" type="submit" [disabled]="usuarioForm.invalid">
      {{ isEdit ? 'Actualizar' : 'Crear' }}
    </ion-button>
  </form>

</ion-content>
