<ion-header>
  <ion-toolbar>
    <ion-title>Crear Ruta</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="cancelar()">Cancelar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- <div class="breadcrumb">
  <ion-icon name="home-outline" color="gray"></ion-icon>
  <span>/</span>
  <span>Calendario</span>
  <span>/</span>
  <span class="breadcrumb-current">Crear</span>
</div> -->

<ion-content class="ion-padding">

  <!-- Campo de fecha (solo lectura si quieres que no se cambie) -->
  <ion-item>
    <ion-label position="stacked">Fecha</ion-label>
    <ion-input [(ngModel)]="date" readonly></ion-input>
  </ion-item>

  <!-- Campo de nombre -->
  <ion-item>
    <ion-label position="stacked">Nombre de la Ruta</ion-label>
    <ion-input [(ngModel)]="name"></ion-input>
  </ion-item>

  <!-- Campo de tipo de ruta -->
  <ion-item>
    <ion-label>Tipo de Ruta</ion-label>
    <ion-select [(ngModel)]="type" placeholder="Selecciona un tipo">
      <ion-select-option value="Mantenimiento">Mantenimiento</ion-select-option>
      <ion-select-option value="Correctivo">Correctivo</ion-select-option>
      <ion-select-option value="Visitas">Visitas</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Botón para crear la ruta -->
  <ion-button expand="full" class="ion-margin-top" (click)="onCreateRuta()">
    Crear Ruta
  </ion-button>
</ion-content>
