<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ isEdit ? 'Editar Ruta' : 'Nueva Ruta' }}</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <div class="breadcrumb">
  <ion-icon name="home-outline" color="gray"></ion-icon>
  <span>/</span>
  <span>Rutas</span>
  <span>/</span>
  <span class="breadcrumb-current">{{ isEdit ? 'Editar' : 'Crear' }}</span>
</div> -->

<ion-content class="ion-padding">
  <form [formGroup]="rutaForm" (ngSubmit)="onSave()">
    <ion-list>

      <ion-item>
        <ion-label position="stacked">Fecha</ion-label>
        <ion-datetime formControlName="date" display-format="yyyy-MM-dd" picker-format="yyyy-MM-dd"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Ruta</ion-label>
        <ion-select formControlName="name">
          <ion-select-option *ngFor="let rn of listaRutaN" [value]="rn._id">
            {{ rn.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>



      <ion-item>
        <ion-label>Estado</ion-label>
        <ion-select formControlName="state">
          <ion-select-option value="Pendiente">Pendiente</ion-select-option>
          <ion-select-option value="EnProceso">En Proceso</ion-select-option>
          <ion-select-option value="Finalizado">Finalizado</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Vehículo</ion-label>
        <ion-select formControlName="vehicle">
          <ion-select-option *ngFor="let v of listaVehicles" [value]="v._id">
            {{ v.brand }} - {{ v.matricula }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Ejemplo: si quisieras seleccionar usuarios -->
      
      <ion-item>
        <ion-label>Contrato</ion-label>
        <ion-select formControlName="users" multiple="true">
          <ion-select-option *ngFor="let user of listaClientes" [value]="user._id">
            {{ user.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Comentarios</ion-label>
        <ion-textarea formControlName="comentarios"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label>Encargado</ion-label>
        <ion-select formControlName="encargado" placeholder="Selecciona encargado">
          <ion-select-option *ngFor="let u of users" [value]="u._id">
            {{ u.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Herramientas</ion-label>
        <ion-select formControlName="herramientas" multiple="true">
          <ion-select-option value="Taladro">Taladro</ion-select-option>
          <ion-select-option value="Escalera">Escalera</ion-select-option>
          <!-- etc -->
        </ion-select>
      </ion-item>
     

    </ion-list>

    <ion-button expand="block" class="ion-margin-top" type="submit" [disabled]="rutaForm.invalid">
      {{ isEdit ? 'Actualizar' : 'Crear' }}
    </ion-button>
  </form>
</ion-content>
