<ion-app>
  <!-- Menú lateral, solo visible si showMenu === true -->
  <ion-split-pane *ngIf="showMenu" contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>
            <i class="bi bi-menu-button-wide"></i> Menú
          </ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content class="sidebar-content-flex">
        <ion-list>
          <!-- <ion-list-header>Secciones</ion-list-header> -->
          <!-- Recorremos appPages -->
          <ng-container *ngFor="let p of appPages">
            <!-- Si NO tiene subpages, es un item normal -->
            <ion-menu-toggle auto-hide="false" *ngIf="!p.subpages">
              <ion-item
                [routerLink]="[p.url]"
                routerDirection="root"
                lines="none"
                detail="false"
                [routerLinkActive]="['selected']">
                <i [class]="p.icon" style="margin-right:8px;"></i>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
            <!-- Si TIENE subpages, es un menú desplegable -->
            <div *ngIf="p.subpages">
              <!-- Item principal del submenú -->
              <ion-item lines="none" detail="false" (click)="toggleSubMenu(p)">
                <i [class]="p.icon" style="margin-right:8px;"></i>
                <ion-label>{{ p.title }}</ion-label>
                <!-- Icono que cambia según expandido o no -->
                <ion-icon
                  [name]="p.expanded ? 'chevron-up-outline' : 'chevron-down-outline'"
                  slot="end">
                </ion-icon>
              </ion-item>
              <!-- Sub-items, visibles si expanded = true -->
              <ion-list *ngIf="p.expanded">
                <ion-menu-toggle auto-hide="false" *ngFor="let sp of p.subpages">
                  <ion-item
                    [routerLink]="[sp.url]"
                    routerDirection="root"
                    lines="none"
                    detail="false"
                    style="padding-left: 36px;"
                  >
                    <i [class]="sp.icon" style="margin-right:8px;"></i>
                    <ion-label>{{ sp.title }}</ion-label>
                  </ion-item>
                </ion-menu-toggle>
              </ion-list>
            </div>
          </ng-container>
        </ion-list>
        <div class="sidebar-logout-btn-container">
          <ion-button expand="full" (click)="logout()" class="logout-button">
            <i class="bi bi-box-arrow-right icon-logout"></i>
           Cerrar sesión
          </ion-button>
        </div>
      </ion-content>
    </ion-menu>

    <!-- Contenido principal -->
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>

  <!-- Si showMenu === false, igual se muestra la pantalla de login
       mediante <ion-router-outlet>, pero sin el menú. -->
  <ion-router-outlet *ngIf="!showMenu"></ion-router-outlet>
</ion-app>
