.calendar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background: #f8f8f8;
  border-bottom: 1px solid #ddd;

  .today-btn {
    --background: #BA392B;
    color: #ffffff;
  }

  .month-year-display {
    font-weight: bold;
    font-size: 1.2rem;
    color: #3E363F;
    margin-top: 4px;
  }
}

.breadcrumb {
  padding: 8px 12px;
  font-size: 0.9rem;
  color: #3E363F;
  display: flex;
  align-items: center;
  gap: 4px;

  ion-icon {
    font-size: 16px;
  }

  .breadcrumb-current {
    font-weight: bold;
  }
}


.cal-cell {
  padding: 4px;
  min-height: 75px;
  border-radius: 4px;
  background-color: #fff;

  &:hover {
    background-color: #f0f0f0;
    cursor: pointer;
  }

  .cal-date {
    font-weight: bold;
    margin-bottom: 4px;
    font-size: 1rem;
  }
  .cal-events {
    display: flex;
    gap: 4px;

    .event-icon img {
      width: 30px;
      height: 30px;
    }
  }
}
.ruta-expanded {
  --background: #BA392B;
  color: #ffffff;

  p {
    color: white;
  }

  ion-label {
    color: #ffffff !important;
    p {
      color: white;
    }
  }

  ion-icon {
    color: #ffffff;
  }
}

.ruta-detalle {
  margin-top: 5px;
  padding: 12px;
  background-color: #f8f8f8;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.15);

  .tipo-ruta {
    padding: 4px 8px;
    border-radius: 4px;
    margin-bottom: 8px;
    font-weight: bold;
  }

  .workers-info {
    margin-top: 8px;
  }
}

ion-grid {
  padding-top: 15px;

  h2 {
    margin-bottom: 12px;
    color: #3E363F;
  }
}
