<ion-header>
  <ion-toolbar>
    <ion-title>Alertas</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <div class="breadcrumb">
  <ion-icon name="home-outline" color="gray"></ion-icon>
  <span>/</span>
  <span>Alertas</span>
</div> -->

<ion-content class="ion-padding">
  <ion-card *ngFor="let al of alertas" class="alerta-card">
    <ion-card-header>
      <ion-card-title>{{ al.message }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <strong>Estado:</strong> {{ al.state }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-select [value]="al.state" (ionChange)="cambiarEstado(al, $event.detail.value)">
              <ion-select-option value="Pendiente">Pendiente</ion-select-option>
              <ion-select-option value="Cerrado">Cerrado</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
