<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Vehículos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="nuevoVehiculo()">
        <ion-icon name="add-circle-outline" style="color: white !important"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- <div class="breadcrumb">
  <ion-icon name="home-outline" color="gray"></ion-icon>
  <span>/</span>
  <span>Facturación</span>
</div> -->

<ion-content>
  <ion-searchbar
    (ionInput)="filtrar($event)"
    placeholder="Buscar vehículo"
    showCancelButton="focus">
  </ion-searchbar>

  <ion-refresher (ionRefresh)="cargarVehiculos()">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row class="header-row">
      <ion-col><strong>Marca</strong></ion-col>
      <ion-col><strong>Modelo</strong></ion-col>
      <ion-col><strong>Matrícula</strong></ion-col>
      <ion-col size="2"><strong>Acciones</strong></ion-col>
    </ion-row>

    <ion-row *ngFor="let v of filteredVehicles">
      <ion-col>
        {{ v.brand }}
      </ion-col>
      <ion-col>
        {{ v.modelo }}
      </ion-col>
      <ion-col>
        {{ v.matricula }}
      </ion-col>
      <ion-col size="2">
        <ion-button size="small" (click)="editarVehiculo(v._id)">  <ion-icon name="create-outline" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button size="small" color="danger" (click)="eliminarVehiculo(v._id)">  <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
