<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Listado de Contratos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="createCliente()">
        <ion-icon name="add-circle-outline" style="color: white !important"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
 
</ion-header>


<ion-content>

    <ion-searchbar [(ngModel)]="searchText" (ionInput)="filterCustomers()" placeholder="Buscar contratos..."></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let customer of paginatedCustomers">
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <h2>{{ customer.name }}</h2>
            <p>
              <strong>Email:</strong> {{ customer.email }}<br>
              <strong>Zona:</strong> {{ customer.zone?.name || 'Sin Zona' }}<br>
              <strong>NIF/CIF:</strong> {{ customer.nifCif }}<br>
              <strong>Teléfono:</strong> {{ customer.phone }}<br>
              <strong>Contacto:</strong> {{ customer.contactName }}<br>
              <strong>Dirección:</strong> {{ customer.address }}
            </p>
          </ion-col>
          <ion-col size="4" class="ion-text-right">
            <ion-button style="margin-top: 35%;" size="large" (click)="editCliente(customer._id!)">
              <ion-icon name="create-outline" slot="icon-only"></ion-icon>
            </ion-button>
            
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <ion-spinner *ngIf="loading" name="dots" class="spinner-center"></ion-spinner>

  <!-- Paginación -->
  <ion-grid class="pagination">
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button fill="clear" [disabled]="currentPage === 1" (click)="prevPage()">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-button>

        Página {{currentPage}} de {{totalPages}}

        <ion-button fill="clear" [disabled]="currentPage === totalPages" (click)="nextPage()">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
